# Ensemble Learning - Bagging

In [7]:
import pandas as pd
df = pd.read_csv('diabetes.csv')

In [8]:
df.rename(columns = {'6':'Pregnancies', '148':'Glucose','72':'BloodPressure','35':'SkinThikness','0':'Insulin','33.6':'BMI','0.627':'DiabetesPedigreeFunction','50':'Age','1':'Outcome'}, inplace = True)

In [9]:
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThikness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1,85,66,29,0,26.6,0.351,31,0
1,8,183,64,0,0,23.3,0.672,32,1
2,1,89,66,23,94,28.1,0.167,21,0
3,0,137,40,35,168,43.1,2.288,33,1
4,5,116,74,0,0,25.6,0.201,30,0
5,3,78,50,32,88,31.0,0.248,26,1
6,10,115,0,0,0,35.3,0.134,29,0
7,2,197,70,45,543,30.5,0.158,53,1
8,8,125,96,0,0,0.0,0.232,54,1
9,4,110,92,0,0,37.6,0.191,30,0

In [10]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThikness                0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [12]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThikness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000
mean,3.842243,120.859192,69.101695,20.517601,79.903520,31.990482,0.471674,33.219035,0.348110
std,3.370877,31.978468,19.368155,15.954059,115.283105,7.889091,0.331497,11.752296,0.476682
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243500,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,32.000000,32.000000,0.371000,29.000000,0.000000
75%,6.000000,140.000000,80.000000,32.000000,127.500000,36.600000,0.625000,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [13]:
len(df)

767

In [14]:
df.Outcome.value_counts()

0    500
1    267
Name: Outcome, dtype: int64

In [15]:
# The data set seems balanced 
267/500

0.534

In [16]:
X = df.drop('Outcome', axis='columns')
y = df['Outcome']

# Scale the data set

In [21]:
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()
X_scaled = scale.fit_transform(X)
X_scaled

array([[-0.84372629, -1.12208597, -0.16024856, ..., -0.68372895,
        -0.36426474, -0.18894038],
       [ 1.23423997,  1.94447577, -0.26357823, ..., -1.10230105,
         0.60470064, -0.1037951 ],
       [-0.84372629, -0.99692019, -0.16024856, ..., -0.49346891,
        -0.91968415, -1.0403932 ],
       ...,
       [ 0.343683  ,  0.0044061 ,  0.14974046, ..., -0.73446496,
        -0.68423462, -0.27408566],
       [-0.84372629,  0.16086333, -0.47023757, ..., -0.23978884,
        -0.37030191,  1.17338414],
       [-0.84372629, -0.8717544 ,  0.04641078, ..., -0.20173684,
        -0.47293375, -0.87010264]])

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled,y, stratify=y, random_state=10)

In [25]:
X_train.shape

(575, 8)

In [26]:
y_train.shape

(575,)

In [27]:
y_train.value_counts()

0    375
1    200
Name: Outcome, dtype: int64

In [28]:
200/375

0.5333333333333333

In [29]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
scores = cross_val_score(DecisionTreeClassifier(), X_scaled, y, cv = 5)
scores

array([0.66233766, 0.66233766, 0.7124183 , 0.77777778, 0.73856209])

In [30]:
# Stand Alone Model Score
scores.mean()

0.710686698921993

In [31]:
from sklearn.ensemble import BaggingClassifier
bag_model =BaggingClassifier(base_estimator=DecisionTreeClassifier(), n_estimators=100, max_samples=.8,oob_score=True,random_state=0)

bag_model.fit(X_train, y_train)
bag_model.oob_score_

0.7634782608695653

In [33]:
# Model score after baging
bag_model.score(X_test,y_test)

0.7552083333333334

In [35]:
# Difference between scores
bag_model.score(X_test,y_test)*100-scores.mean()*100

4.452163441134047

In [38]:
bag_model =BaggingClassifier(base_estimator=DecisionTreeClassifier(), n_estimators=100, max_samples=.8,oob_score=True,random_state=0)

scores = cross_val_score(bag_model,X,y, cv=5)
scores.mean()

0.7588405058993294

In [40]:
from sklearn.ensemble import RandomForestClassifier
scores = cross_val_score(RandomForestClassifier(), X, y, cv=5)
scores.mean()

0.76538494185553